<template>
    <section class="container">
        <fieldset>
            <form class="form-group">
                <legend>Select deletion task</legend>
                <p>Active user : ${user.nickname} / ${user.mail}</p>
                <label class="radio-inline"><input type="radio" id="user" name="optradio">User (incl. all related data)</label>
                <label class="radio-inline"><input type="radio" id="allMessages" name="optradio">All his messages</label>
                <label class="radio-inline"><input type="radio" id="someMessages" name="optradio">Selected messages</label>
            </form>
        </fieldset>
    </section>
</template>