body {
				font-family:  Arial, Verdana, sans-serif;
				color: #111111;}
.visible {
  visibility: visible;}

.hidden {
    display: none;
}

form {
    display: inline-block;
    margin-left: 10px;
}


div {
  border-bottom: 1px solid #efefef;
  margin: 10px;
  padding-bottom: 10px;
  width: 440px;
}

.inputLabel {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.inputField {
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

.tweet {
    width: 300px;
    text-align: left;
    padding-left: 10px;
}

/* Character Counter */
#charactersLeft {
  color: #fff;
  font-size: 24px;}
#lastKey {
  color: #fff;
  margin-top: 10px;}

.countdown {
    width: 30px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.submit {
    text-align: right;
    margin-left: 120px;
}

.radio1 {
    float: none;
    margin-left: 30px;
}

/* warnngs and hints */
#packageHint, #termsHint {
  background-color: chocolate;
  color: #fff;
  text-shadow: -1px 1px 2px #000;}

/* navigation */
a.internalLink {
    text-decoration: none;
    color: inherit;
}
a.internalLink:hover {
    text-decoration: underline;
    color: blue;
}
a.internalLink:active {
	background-color: chocolate;
}

/* data table */
table {
    width: 600px;
}

th, td {
    padding: 7px 10px 10px 10px;
}
th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}
tr.even {
    background-color: #efefef;
}
tr:hover {
    background-color: #c3e6e5;
}
