<template>
    <!-- Statistic / Summary of user accounts -->
    <fieldset>
        <legend>Important persons to follow</legend>
        <form>
<!--<list-editor items.bind="contact.socialProfiles" add-item.call="contact.addSocialProfile()">
    <template replace-part="label">
        <select value.bind="type & validate" class="form-control">
        <option value="GitHub">GitHub</option>
        <option value="Twitter">Twitter</option>
      </select>
    </template>
    <template replace-part="value">
        <input type="text" class="form-control" placeholder="Username" value.bind="username & validate">
    </template>
    <span slot="add-button-label">Add an important person</span>
</list-editor>-->

            <div class="row">
                <div class="col-sm-9">
                    <submit-button click.delegate="addVip(name, status)">
                        <i slot="icon" class=" fa fa-search" aria-hidden="true"></i> Add or Change important person</submit-button>
                    <div show.bind="validationFailed" class="submitNotification">Mission impossible. Check your input, please.</div>
                </div>
                <div class="col-sm-2">
                    <submit-button click.delegate="removeVip(name)">
                        <i slot="icon" class=" fa fa-trash" aria-hidden="true"></i> Forget person</submit-button>
                </div>
            </div>
        </form>
        <br></br>
    </fieldset>
</template>