body {
				font-family:  Arial, Verdana, sans-serif;
				color: #111111;}
.visible {
  visibility: visible;}

.hidden {
    display: none;
}

form {
    display: inline-block;
    margin-left: 10px;
}


divv {
  border-bottom: 0px solid #efefef;
  margin: 10px;
  padding-bottom: 0px;
  width: 600px;
}

.memo {
    border-bottom: 0px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    width: 600px;
}

legend {
    background-color: #efefef;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding:10px 20px;
    text-align: left;
    margin: 10px;
    width: 600px;
}

.inputLabel {
    float: left;
    width: 120px;
    text-align: right;
    padding-right: 10px;
}

.inputField {
    width: 270px;
    text-align: left;
    padding-left: 10px;
    background-color: #fffbf0;
	border: 1px solid #e7c157;
}


.submit {
    text-align: right;
    margin-left: 130px;
}

/* warnings */
.warning {
    background-image: url('../img/caution.svg');
    background-repeat: no-repeat;
    background-position: 100px top;
    background-size: 20px 20px;
    padding-left: 125px; 
}

/* hints */
.info {
    background-image: url('../img/information.svg');
    background-repeat: no-repeat;
    background-position: 100px top;
    background-size: 20px 20px;
    padding-left: 125px; 
}

fieldset[value]:disabled {
    color: whitesmoke;
}


/*  ------------  tweet section  ------------  */
/* bird section  */
.bird {
    background-image: url("../img/bird.png");
    background-repeat: no-repeat;
    background-size: 200px auto;
    width: 300px; 
    height: auto;
    float: middle;
    margin-right: 10px;
    text-align: right top;
}
#nameOfCurrentUser {
	/*border: 3px dashed #F00;*/
	height: 180px;
	padding: 10px;
	position: relative;
    left: 180px;
	top: 0;
	width: 320px;
}


/* message in textaerea */
.tweet {
    font-size: 120%;
    width: 600px;
}
/* hint referring to textaerea */
#charCounter {font-size: 80%;}
#charCounter.warn b, #charCounter.error b {
  border-radius: 16px;
  padding-top: 4px;
  width: 32px;
  height: 28px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
}
.warn b {color: #ffff66; background-color: #333;}
.error b {color: #ff9966; background-color: #000;}

/* attached image */
#camera {
    position: 280px  center; 
}

.attachedImage .preview {
    width: 300px; 
    height: auto;
    border: 1px solid #000;
}

.tweetDefinition {
    width: 600px;
    text-align: left;
    padding-left: 10px;
}

.postTweet {
    border: none;
    width: 600px;
    text-align: left;
}

.filterTweets  {
    border: none;
    width: 600px;
    text-align: left;
}

.vipField {
    border: none;
    margin-left: 45px;
    width: 555px;
    text-align: left;
}

/* Character Counter */
#charactersLeft {
  color: #fff;
  font-size: 24px;}
#lastKey {
  color: #fff;
  margin-top: 10px;}

.radio1 {
    float: none;
    margin-left: 35px;
    font-size: 70%;
}

.radio11 {
    float: none;
    margin-left: 120px;
    font-size: 80%;
}

/* ------------ data table ------------ */
fieldset.tweetsTable fieldset.admTweetsTable {
    border: none;
}
table {
    width: 600px;
}

th, td {
    padding: 7px 10px 10px 10px;
}
th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}
td {
    font-size: 70%;
}
tr.even {
    background-color: #efefef;
}
td.summary {
    text-transform: uppercase;
    font-size: 90%;
    border-top: 2px solid #111111;
    border-bottom: 1px solid #999;
}
tr:hover {
    background-color: #c3e6e5;
}
tr.selected {
    background-color: #acbad9;
    color: #FFF;
}
tr.even.selected {
    background-color: #acbad1;
    color: #FFF;
}

/* ------------ footer ------------ */
footer {
    font-size: 80%;
    background-color: mediumaquamarine;
}

.contact {
    padding-top: 10px;
}