<template>
    <!-- Statistic / Summary of user accounts -->
    <section class="container">
   <fieldset>
       <legend>History</legend>
        <form class="form-horizontal" validation-renderer="bootstrap-form">
            <compose view="./userSelection.html"></compose>
            <div class="row">
                <div class="col-sm-9">
                    <submit-button click.delegate="retrieveMessages()">
                        <i slot="icon" class=" fa fa-search" aria-hidden="true"></i> Retrieve Messages</submit-button>
                    <div show.bind="validationFailed" class="submitNotification">Mission impossible. Check your input, please.</div>
                </div>
                <div class="col-sm-2">
                    <submit-button click.delegate="removeMessages()">
                        <i slot="icon" class=" fa fa-trash" aria-hidden="true"></i> Delete selected messages</submit-button>
                </div>
                <div class="col-sm-2">
                    <submit-button click.delegate="removeMessages()">
                        <i slot="icon" class=" fa fa-trash" aria-hidden="true"></i> Delete all my messages</submit-button>
                </div>
            </div>
        </form>
        <br></br>
            <!--<datatable columns="name as 'Name' , timestamp as 'Time',message as 'Message'" data.bind="tweets"> </datatable>-->
        <table id="userRelatedTweets">
            <thead>
                <tr>
                    <th>Date</th>
                    
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
<tr repeat.for="tweet of tweets">
  <td innerhtml.bind ='tweet.timestamp' />
<td innerhtml.bind='tweet.message' />
    </tr>
            </tbody>
        </table>

    </fieldset>
        </section>
</template>