<template>
    <!-- Statistic / Summary of user accounts -->
    <section class="container">
   <fieldset>
       <legend>History</legend>
        <form class="form-horizontal" validation-renderer="bootstrap-form">
            <compose view="./userSelection.html"></compose>
            <div class="row">
                <div class="col-sm-9">
                    <submit-button click.delegate="retrieveSummary()">
                        <i slot="icon" class=" fa fa-search" aria-hidden="true"></i> Retrieve summary</submit-button>
                    <div show.bind="validationFailed" class="submitNotification">Mission impossible. Check your input, please.</div>
                </div>
                <div class="col-sm-2">
                    <submit-button click.delegate="emptyGrid()">
                        <i slot="icon" class=" fa fa-trash" aria-hidden="true"></i> Empty results view</submit-button>
                </div>
            </div>
        </form>
        <br></br>
    </fieldset>
        </section>
</template>