<template>
    <section>
        <fieldset>
            <form class="form-group">
                <h4>Define filter</h4>
                <div class="container-fluid">
                    <div class="row">
                        <div class="column1of2" style="background-color:lavender;">
                            <label><input type="checkbox" checked.bind="motherboard">  Motherboard</label>
                            <label><input type="checkbox" checked.bind="cpu"> CPU</label>
                            <label><input type="checkbox" checked.bind="memory"> Memory</label> 
                            motherboard = ${motherboard}<br/>                           
                             cpu = ${cpu}<br/> 
                             memory = ${memory}<br/>

                            <label class="radio columnIndent">
                                <input type="radio" id="user" name="filter" value.bind="msgFilter.showNoMessages" checked.bind="showNoMessages" >None
                                </label>
                            <label class="radio columnIndent">
                                <input type="radio" id="allMessages" name="filter" value.bind="showMyTweets" checked.bind="showMyTweets">My tweets
                            </label>
                            <label class="radio columnIndent">
                                <input type="radio" id="someMessages" name="filter" value.bind="msgFilter.showTweetsOfSpecialUser">Tweets of :
                            </label>
                            <input id="username" type="text" name="username" class="columnIndent" placeholder="Type in a user's name ..."
                                value.bind="nameOfSpecialUser" style="margin-left:22px;">
                        </div>
                        <div class="column1of2 columnIndent" style="background-color:lavenderblush;">
                            <label class="checkbox"><input type="checkbox" value.bind="showTweetsOfActiveVips" click.delegate="selectionChanged($event)">Include selected VIPs</label>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </fieldset>
    </section>
</template>