<template>
    <!-- Statistic / Summary of user accounts -->
    <section class="container">
        <fieldset id="statistics" class="visible">
            <h4>Select Period for Statistic</h4>
            <form clss="form-group">
                <div>
                    <label for="startDate" class="inputLabel">From : </label>
                    <input type="date" class="inputField" placeholder="2000-12-30" maxlength="10" required />
                    <span class="help-block inputHelp">First day of time span to analyse</span>
                    <label for="endDate" class="inputLabel">To :  </label>
                    <input type="date" name="endDate" class="inputField" placeholder="2000-12-31" maxlength="10" required />
                    <span class="help-block inputHelp">Last day of time span to analyse</span>
                </div>
            </form>
        </fieldset>
    </section>
</template>